:root {
  --ficha-juego: url('../imagenes/maiz.png');
  --color-blanco: hsl(0, 100%, 100%);
  --color-negro: hsl(0,100%,0%);
  --color-azul: hsl(191,99%,39%);
  --color-amarillo: hsl(37,94%,59%);
  --color-morado: hsl(331,42%,41%);
  --color-rojo: hsl(356,59%,43%);
  --color-verde: hsl(144,43%,22%);

  --color-rojo-mexico: #EE2743;
  --color-rosa-mexico: #EC1981;
  --color-amarillo-mexico: #EEB527;
  --color-morado-mexico: #AC2484;
  --color-verde-mexico: #84C441;
  --color-azul-mexico: #00ABBD;



  --color-fondo-base: #FEFEFE;
  --color-letra-base: #2c2c2c;
  --color-letra-secundario: #235b4e;
  --color-letra-alterno: #4395a7;
  --color-resaltar: #c31a1a;
  --color-resaltar-alterno: #7300ffe1;
  --color-gris-light: #f3f3f3ad;
  --color-gris-normal: #dfdfdf80;
  --color-gris-dark: #c2c2c270;
  --color-gris-darker: #c2c2c2;
  --color-gris-sombra: #89a6bf7a;
  --color-gris-sombra-opuesto: #ffffffcc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

div {
  max-width: 600px;
  max-height: 80vh;
}

#carta {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.carta {
  width: 100px;
  height: 167px;
  background-size: cover;
}

.marcado {
  z-index: 100;
  width: 100%;
  height: 100%;
}

.seleccionado {
  background-image: var(--ficha-juego);
  background-position: center center;
  background-repeat: no-repeat;
}